<li>
    <a href="@Url.Action("GioHang","GioHang")" style="color:white;font-weight:bold; text-decoration:none">
        <img src="~/Images/cart.png" />
        Giỏ Hàng (@ViewBag.TongSoLuong)
    </a>
</li>

